@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  background: white;
  color: #111;

}

.dark {
  background: #0a0a0a;
  color: #bbb;
}

.theme {
  transition: 1s all ease;
}

.hero-image {
  object-fit: cover;
  animation: moveAni 3s ease alternate infinite;
}

@keyframes moveAni {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.hero-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #53C28B;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}